{% extends '../templates/base.html' %}

{% block center-body %}
<div class="card .clojwar-card-width" style="width: 50rem;">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h1 class="card-title text-center"><strong>404</strong></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5 class="card-subtitle mb-2 text-muted text-center"><strong>We are really sorry!
                            But the page you are looking for can not be found!</strong></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center">
                    <a href="/" class="card-link">Click Here to go back!</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
